.section6{
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
}
.section6 img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.section6 img:hover{
    cursor: pointer;
    background-color: blue;
    /* color: #fff; */
    transform: scale(1.03);
    transition: all 1s ease ;
}
@media (min-width:600px) {
    .section6{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width:990px) {
    .section6{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}